{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class="  border-black flex w-full justify-center p-1 mt-2 mb-4">
    <form action="" method="get"> {% csrf_token %}
        <input class="border border-slate-900 text-slate-900 w-96 rounded-full" type="text" name="title" id="title" placeholder='Search for Blog Title'>
        
    </form>
</div>
<div class="w-full p-2 bg-zinc-500 text-cyan-500 flex justify-end" id='access-bar'>
    <a class='mr-4 hover:text-cyan-400' href="{% url 'blog' %}">All</a>
    <a class='mr-4 hover:text-cyan-400' href="{% url 'blog_search' %}">Search</a>
    <a class='mr-4 hover:text-cyan-400' href="{% url 'blog_create' %}">Add</a>
</div>
<div class="flex">
    <div class='sm:hidden md:flex border-black m-1 h-96 w-[30%]'></div>
    <div class=' border-black m-1 h-96 w-full p-1'>
        {% for blog in blogs %}
        <div class="w-full bg-cyan-500 text-black p-1 border border-sky-600 my-1">
            <div>{{blog.title}}</div>
            <div class='text-[12px]'>Last Updated - {{blog.updated_at}}</div>
            <div class='text-[12px] ' >Author : {{blog.author}}</div>
            <div class='w-full flex justify-end text-sm'>
                {% if request.user == blog.author %}
                <a class='pr-2 text-cyan-900 hover:text-zinc-800' href="{% url 'blog_delete' blog.id %}">Delete</a>
                <a class='pr-2 text-cyan-900 hover:text-zinc-800' href="{% url 'blog_update' blog.id %}">Update</a>
                {% endif %}
                <a class='pr-2 text-cyan-900 hover:text-zinc-800' href="{% url 'blog_detail' blog.id %}">Read</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="#access-bar"><div class='h-8 w-8 bg-cyan-600 flex items-center justify-center border border-sky-600 text-cyan-400 opacity-90 text-3xl right-4 bottom-4 fixed'>&#8593;</div></a>
{% endblock content %}





