{% extends 'base.html' %} {% block title %}About{% endblock title %} {% block content %}
<div class="border border-sky-600 bg-cyan-500 text-black p-1 sm:text-sm text-2xl">
  "The Django Blog" Presents
</div>


<div class="border md:grid md:grid-cols-2 md:gpa-4  p-2">
  <div></div>

  <div class="md:border-l border-teal-600 text-right">
    <div class='text-2xl py-2' >Activity...</div>
    
    <div class='p2'>
        <ul class=''>
            {% for blog in blogs %}
            <li>[+] {{blog.title}}</li>
            {{blog.publishedAt}}
            <div class='border-t border-teal-500 w-[96%%] ml-6 my-2' ></div>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>

{% endblock content %}
