{% extends 'base.html' %} {% block title %}About{% endblock title %} {% block content %}
<div class="border border-sky-600 bg-sky-700 p-1 sm:text-sm text-2xl">
  "The Django Blog" Presents
</div>
<div class="grid grid-cols-2 grid-rows-2 text-center">
  <div class="bg-fuchsia-950 text-white p-1 m-1 rounded-sm">
    A centralized Home to all your reading need it is Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Aliquid quibusdam tenetur totam qui,
    quaerat veniam pariatur ipsam iusto modi? Doloribus, autem corrupti
    doloremque amet aliquam rem excepturi sunt, repellat eligendi facere this
    can be as awesom as you want it to be
  </div>
  <div class="bg-fuchsia-950 text-white p-1 m-1 rounded-sm">
    A centralized Home to all your reading need it is Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Aliquid quibusdam tenetur totam qui,
    quaerat veniam pariatur ipsam iusto modi? Doloribus, autem corrupti
    doloremque amet aliquam rem excepturi sunt, repellat eligendi facere this
    can be as awesom as you want it to be
  </div>
  <div class="bg-fuchsia-950 text-white p-1 m-1 rounded-sm">
    A centralized Home to all your reading need it is Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Aliquid quibusdam tenetur totam qui,
    quaerat veniam pariatur ipsam iusto modi? Doloribus, autem corrupti
    doloremque amet aliquam rem excepturi sunt, repellat eligendi facere this
    can be as awesom as you want it to be
  </div>
  <div class="bg-fuchsia-950 text-white p-1 m-1 rounded-sm">
    A centralized Home to all your reading need it is Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Aliquid quibusdam tenetur totam qui,
    quaerat veniam pariatur ipsam iusto modi? Doloribus, autem corrupti
    doloremque amet aliquam rem excepturi sunt, repellat eligendi facere this
    can be as awesom as you want it to be
  </div>
</div>

<div class="border grid grid-cols-2 gpa-4  p-2">
  <div>k</div>

  <div class="border-l border-teal-900 text-right">
    Activity...
    <div class='p2'>
        <ul class=''>The Art of Programing | 04:41 AM Jun 2, 2003
            <li></li>
        </ul>
    </div>
  </div>
</div>

{% endblock content %}
