{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheDjangoBlog | {% block title %}{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-slate-200 text-zinc-800">
    <div
      class="fixed w-full h-12 flex justify-between items-center bg-cyan-500 text-cyan-950"
    >
      <div class="p-2">Kushagra</div>
	  
      <div class="p-2">TheDjangoBlog</div>
      <div class="flex">
        <ul class="flex pr-1">
          <li class="p-2 hover:text-gray-950 hover:cursor-pointer">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="p-2 hover:text-gray-950 hover:cursor-pointer">
            <a href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="p-2 hover:text-gray-950 hover:cursor-pointer">
            <a href="{% url 'about' %}">About</a>
          </li>
          <li class="p-2 hover:text-gray-950 hover:cursor-pointer">
            <a href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
        <span class="py-2">&#xfe3f;</span>
        <img
          id="navProfileIcon"
          class="rounded-full py-1 pr-1 h-10 cursor-pointer"
          src="{% static 'img/profile.png' %}"
          alt="img"
        />
        <div class="fixed w-52 right-2 rounded bg-indigo-950 text-white top-14">
          <div class="border m-2 p-1 h-full hidden">
            <ul>
              <li class="hover:bg-zinc-900 p-1">Login</li>
              <li class="hover:bg-zinc-900 p-1">Sign Up</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-12">
      <div class="border border-zinc-500 p-1 m-2">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </body>
</html>
